.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 280px;
  gap: 7%;
}

.authLogo > img {
  height: 5rem;
  padding-bottom: 1rem;
}

.authLogo > h2 {
  font-size: 1rem;
  font-weight: 400;
}

.authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 1rem;
}

.signup {
  gap: 1rem;
}

.login {
  gap: 1rem;
}

.authForm > h3 {
  font-size: 1.5rem;
}

.grid {
  flex: 1;
}

.authForm > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 2rem;
}

.authFormInput {
  border: none;
  outline: none;
  background-color: var(--colorTertiary);
  border-radius: 8px;
  padding: 17px;
  width: 100%;
}

.authFormButton {
  width: 7rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  background-color: var(--colorPrimary);
  color: white;
  font-weight: bold;
}

.authFormButton:hover {
  background-color: white;
  border: 2px solid var(--colorPrimary);
  color: var(--colorPrimary);
  font-weight: bold;
  cursor: pointer;
}

.authFormText {
  font-weight: 300;
  cursor: pointer;
  margin-top: -1.5rem;
  border: none;
  background-color: white;
}

.authFormText:hover {
  color: var(--colorPrimary);
}

.errorAuth {
  color: red;
  max-width: 370px;
  height: 3rem !important;
}

@media screen and (max-width: 990px) {
  .auth {
    display: grid;
    gap: 1rem;
    height: auto;
    padding: 1rem;
  }

  .authLogo > img {
    height: 3.5rem;
    width: min-content;
  }

  .authForm {
    gap: 1rem;
  }

  .grid {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
  }
}