@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --colorPrimary: #4e5166;
  --colorSecondary: #b0c4de;
  --colorTertiary: #ececed;
  --shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
}

*,
*::after,
*::before {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red;  TEST */
}

html {
  background-color: var(--colorSecondary);
}

button {
  padding: 0;
  border: none;
  background: var(--colorTertiary);
}

a {
  color: inherit;
}

svg {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
