.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: var(--colorPrimary);
}

.notfound div h1 {
  display: flex;
  justify-content: center;
  font-size: 10rem;
  color: var(--colorBase);
}

.notfound div h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: var(--colorBase);
}

.notfound div a {
  text-decoration: none;
}

.notfound div div {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  border: 1px solid;
  border-radius: 10px;
  padding: 0.8rem;
  background-color: var(--colorSecondary);
  color: var(--colorBase);
  transition: 0.3s ease;
}

.notfound div div:hover {
  background-color: var(--colorBase);
  color: var(--colorPrimary);
  border: 1px solid var(--colorSecondary);
  cursor: pointer;
}
