.home {
  min-width: 280px;
  background-color: var(--colorPrimary);
  /* background-image: url("./../../assets/images/background.png");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center; */
}

.container {
  max-width: 1700px;
  margin: auto;
}
