.post {
  background: var(--colorSecondary);
  padding: 1rem;
  margin: 2rem auto;
  max-width: 740px;
  border-radius: 1rem;
  /* box-shadow: var(--shadow); */
}

.postProfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postProfil > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.postProfilImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postProfilName {
  font-weight: bold;
  color: var(--colorBase);
}

.postProfilDate {
  font-size: 0.8rem;
  color: var(--colorBase);
}

.postProfilOption {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--colorBase);
}

.postProfilDesc {
  padding: 1rem 0 1rem 0;
  color: var(--colorBase);
}

.postContents {
  display: flex;
  flex-direction: column;
}

.postImg {
  align-self: center;
  max-width: 100%;
  /* padding: 1rem 0; */
  padding-bottom: 1rem;
  max-height: 70vh;
}

.postLike {
  color: var(--colorBase);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 300;
  cursor: pointer;
  gap: 0.3rem;
  width: max-content;
}

.ico {
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .post {
    margin: 2rem 10%;
  }
}

@media screen and (max-width: 600px) {
  .post {
    margin: 3% 3%;
  }
}
