.postShare {
  background: var(--colorTertiary);
  padding: 1rem;
  margin: 1rem 20%;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.postShare > form > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postShare > form > div > input {
  width: 95%;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  border: none;
  outline: none;
  text-overflow: ellipsis;
  overflow: hidden;
}

.postShareButton {
  padding-left: 1rem;
  cursor: pointer;
}

.postShareOptions {
  width: 100%;
  padding: 1rem 1rem 0 1%;
  justify-content: start !important;
}

.postShareOptions > div {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}

.postShareOption {
  display: none;
}

.uploaded-image {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 1rem;
}

.uploaded-image img {
  width: auto;
  max-height: 50vh;
  object-fit: cover;
  border-radius: 0.5rem;
}

.close-icon {
  position: absolute;
  top: 1%;
  background-color: var(--primary-500);
  height: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
}

input.error {
  border: 1px solid #e7195a;
}

.error{
  padding-top: 1rem;
  color: red;
}

@media screen and (max-width: 990px) {
  .postShare {
    margin: 2rem 10%;
  }
  .postShareOptions {
    margin-left: 2%;
  }
}