.postUpdate {
  background: var(--colorLight);
  padding: 2rem;
  width: 50%;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--shadow);
}

.postUpdate > form > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postUpdate > form > div > input {
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  border: none;
  outline: none;
  text-overflow: ellipsis;
  overflow: hidden;
}

.postUpdateButton {
  padding-left: 1rem;
  cursor: pointer;
}

.postUpdateOptions {
  width: 100%;
  margin: 0 1rem 0 1rem;
  padding-top: 1rem;
}

.postUpdateOptions > label > div {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}

.postUpdateOption {
  display: none;
  /* padding-top: 1rem !important; */
  /* cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
  font-size: 14px; */
}

.uploaded-image-update {
  margin-top: 1rem;
  width: 100%;
  /* border-radius: 10px; */
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploaded-image-update img {
  max-height: 50vh;
  width: auto;
  object-fit: cover;
  border-radius: 0.5rem;
}

.close-icon {
  position: absolute;
  top: 1%;
  background-color: var(--primary-500);
  height: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
}

input.error {
  border: 1px solid #e7195a;
}

@media screen and (max-width: 900px) {
  .postUpdate {
  padding: 1rem;
    width: 80%;
  }
  .postUpdateOptions {
    margin-left: 2%;
  }
}