.postUpdate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  max-width: 1700px;
  padding: 2rem;
  border-radius: 1rem;
  background: var(--colorTertiary);
  box-shadow: var(--shadow);
}

.postUpdate > form > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postUpdate > form > div > input {
  width: 95%;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  border: none;
  outline: none;
  text-overflow: ellipsis;
  overflow: hidden;
}

.postUpdateButton {
  padding-left: 1rem;
  cursor: pointer;
}

.postUpdateOptions {
  width: 100%;
  padding: 1rem 1rem 0 1rem;
}

.postUpdateOptions > label > div {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}

.postUpdateOption {
  display: none;
}

.uploaded-image-update {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 1rem;
}

.uploaded-image-update img {
  width: auto;
  max-height: 50vh;
  object-fit: cover;
  border-radius: 0.5rem;
}

.close-icon {
  position: absolute;
  top: 1%;
  background-color: var(--primary-500);
  height: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
}

input.error {
  border: 1px solid #e7195a;
}

.error{
  padding-top: 1rem;
  color: red;
}

@media screen and (max-width: 990px) {
  .postUpdate {
    padding: 1rem;
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .uploaded-image-update img {
    max-height: 30vh;
  }
}